
*{
    margin : 0;
    padding : 0;
    font-weight:bold;
    background-color:#FEE2E2;
    color : black;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bill-amount, #bill-enter {
    margin : 20px 0px;

}

#bill-amount, #paid-amount {
    background-color: white;
    color : black;
}

button {
    background-color: black;
    color : white;
    padding : 5px;
    border-radius : 10px;
    outline : none;
}

table,td { 
    border : 2px solid black;
    border-collapse : collapse; 
    padding : 10px;
    background-color: white;
    color : black;
    margin : 50px auto;

}

header,footer {
    
    height : 30px;
    overflow : hidden;
    color:rgb(255, 255, 255);
    align-content: center;
    padding : 10px;
    font-weight: bold;
    font-size:x-large
}

header {
    margin-bottom : 25px;
    background-color : black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
   }
   ul {
    list-style-type: none;

}
li{
    display:inline;
    margin : 0rem 3rem;
} 

#angry-img {
    max-width: 10rem;
    max-height: 10rem;
    margin : auto;
}